* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "NotoSans";
    src: url("../fonts/NotoSans/NotoSansTaiLe-Regular.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

:root{
    --color0: white;
    --color1: #000000;
    --color2: #808080;
    --color3: #99385d;
    --color4: #5dc1b9;
    --color5: rgb(41, 41, 41); 

    --fuente1: "NotoSans";
    --fuente2: "Oswald";

    font-family: var(--fuente2);
}

/*//////////////////////////////////////////*/

h1{
    font-size: 1.4rem;
    color: var(--color1);
    font-family: var(--fuente1);
}

h2{
    font-size: 1.8rem;
    color: var(--color1);
    font-family: var(--fuente2);
    font-weight: 100;
}

h3{
    font-size: 2rem;
    color: var(--color1);
    font-family: var(--fuente2);
    width: 100%;
    font-weight: 100;
}

h4{
    font-size: 1.2rem;
    color: var(--color1);
    font-family: var(--fuente2);
    font-weight: 100;
    letter-spacing: 3px;
}

p{
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.6rem;
}

/*//////////////////////////////////////////*/

